/* animation for overall background of Landing Page  */

.landingPageAll {
    background: linear-gradient(271deg, #006466, #065a60, #0b525b, #144552, #1b3a4b, #212f45, #272640, #312244, #3e1f47, #4d194d);
    background-size: 2000% 2000%;
    z-index: 1;

    -webkit-animation: GradientAnimationAngled 41s ease infinite;
    animation: GradientAnimationAngled 41s ease infinite;
}

@-webkit-keyframes GradientAnimationAngled {
    0%{background-position:0% 36%}
    50%{background-position:100% 65%}
    100%{background-position:0% 36%}
}
@keyframes GradientAnimationAngled {
    0%{background-position:0% 36%}
    50%{background-position:100% 65%}
    100%{background-position:0% 36%}
}

/* half page Left for Info and Right for Login/Signup */

.leftSideLanding {
    float: left;
    width:50%;
    text-align: center;
}

.leftSideText {
    padding-top: 30%;
}
.rightSideLanding {
    float: right;
    width:50%;
}

.signupFormLanding {
    position: absolute;
    margin-left: 10%;
    top: 25%;
    bottom: 25%;
}

