/* animation for overall background of Landing Page  */

.loginAll {
    background: linear-gradient(89deg, #243466, #4a5c94, #6b7db6, #6b9bb6, #37afca, #37cab1, #37ca91, #43bf5e, #a1bf43, #bfb143, #d79b37, #d77137);
    background-size: 2400% 2400%;
    height: 100vh;
    z-index: 1;

    -webkit-animation: GradientAnimationAngled 75s ease infinite;
    animation: GradientAnimationAngled 75s ease infinite;
}

@-webkit-keyframes GradientAnimationAngled {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes GradientAnimationAngled {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



.loginCard {
    top: 280px !important;
} 