.userPostCard {
    position: relative;
    top: 45px;
    margin-bottom: 20px !important;
    z-index: 1;
    width: 580px  !important;
}

.newsPostCard {
    position: relative;
    top: 60px;
    margin-bottom: 20px !important;
    z-index: 1;
    width: 580px  !important;
}

.postTitleLink {
    color:black;
    font-size: 20px;
}

.postAuthorLink {
    color:black;
    font-size: 20px;
}