
.rightSideBar {
    position: absolute;
    float: right;
    top: 132px;
    right: 15px;
    z-index: 30;
    }


.rightSideBar .icon {
    color: #dbeeef
}



.rightSideMenu {
    background: #e0e8fa !important; 
}