.NavBar {
    position:relative;
    z-index: 20;
    width: 100%;
}

p {
    color: azure;
    font-weight:bold;
}
.homeIcon {
    color:azure;
    font-weight: 600;
}

.postIcon {
    color:orange;
}

.newsIcon {
    color: lightskyblue;
}

.logoIcon {
    color:snow;
}

.userIcon {
    color: plum;
}

.newPostIcon {
    color:slateblue ;
    margin-left: 1px;
}

.settingIcon {
    color: whitesmoke;
}

.NavBarColor{
    background: #34526f !important; 
}
